<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Add album</title>
 <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
 <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/custom.css}" />
</head>
<body>

<h1>Song</h1>
	<form action="#" th:action="@{/addAlbum}"  th:object= ${album} method="post">
	<p th:text="#{album}"> </p><input type="text" th:field="${album.albumName}" />
	<p th:text="#{year}">  </p><input type="text" th:field="${album.year}" />
	
	
	<input type="submit" th:value="#{submit}"class="btn btn-success" /> <input type="reset" th:value="#{reset}"class="btn btn-warning" />
	</form>
    <a  href="/songlist"
		class="btn btn-success" th:text="#{back}">Back to Song List</a>

</body>
</html>