<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>editSong</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{~/css/bootstrap.min.css}" />
 <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{~/css/custom.css}" />
</head>
<body>

<h1>Edit current Song</h1>


			

<form action="#" th:action="@{/addSong}"  th:object= ${song} method="post">
	<input type="hidden" th:field="*{songId}" class="form-control"/>
	<p>Name: <input type="text" th:field="${song.songName}" /></p>
	<p>Artist: <input type="text" th:field="${song.songArtist}" /></p>
	<p>Album: <select id="alblist" th:field="*{album}" >
       			<option th:each="album: ${albums}" th:value="${album.albumId}" th:text="${album.albumName}"></option>
    		</select>	 </p> 
	
	<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
	</form>
    

</body>
</html>