<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>editAlbum</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{~/css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{~/css/custom.css}" />
</head>
<body>

	<h1 th:text="#{album}"></h1>



	<table class="table table-striped">
		<tr>

			<th>ID</th>
			<th th:text="#{artist}">Artist</th>
			<th th:text="#{song}">Song</th>

			<th th:text="#{album}">Album</th>
			<th th:text="#{year}">Year</th>



		</tr>


		<tr th:each="song : ${songs}"
			th:if="${song.album.albumId} == @{{id}(id=${id})}">


			<td th:text="${song.album.albumId}">id</td>
			<td th:text="${song.songArtist}">Artist</td>
			<td th:text="${song.songName}">title</td>
			<td th:text="${song.album.albumName}">title</td>
			<td th:text="${song.album.year}">title</td>

		</tr>



	</table>

	<a href="/songlist" class="btn btn-success" th:text="#{back}">Back
		to Song List</a>




</body>
</html>