<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Add User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
 <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/custom.css}" />
</head>
<body>
	<h1>Sign-up</h1>
     <div>
		<form th:object="${signupform}" th:action="@{/saveuser}" action="#" method="post">
			<div>
				<label> <p th:text="#{username}"> </p> <input type="text" th:field="*{username}"/></label>
				<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:text="#{usernamerror}">Username Error</p>	
			</div>
			
			<div>
				<label> <p th:text="#{password}"> </p> <input type="password" th:field="*{password}"/></label>
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:text="#{passworderror}">Password Error</p>	
			</div>
			<div>
				<label> <p th:text="#{passwordretype}"> </p> <input type="password" th:field="*{passwordCheck}"/></label>
				<p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}" th:text="#{passwordmatcherror}">Password Match Error</p>	
			</div>
			
			<input type="submit" th:value="#{signup}"></input>		
		</form>
	</div>
</body>
</html>